body{
    margin:0;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width:400px;
}
input{
    padding:10px 10px;;
    width:100%;
    box-sizing:border-box;
    border:2px solid #5f9341;
    margin:5px 0px;

}
button{
    background-color:#5f9341;
    color:white;
    font-weight:bold;
    font-size:20px;
    padding:10px 20px;
    border:1px solid #5f9341;

}
input:hover{
     border:2px solid #5f9341;
}
ul{
    margin-top:20px;
    list-style:none;
    padding:0;

}
a{
   color:#5f9341;
}
li a{
   margin-top:5px;
}
#delete-btn{
    background-color: white;
    color:#5f9341;

}